<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.inspira.condominio">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/abbit_green_2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <activity
            android:name=".dialogos.ActividadDeEspera"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".admon.RegistroAdministracion" />
        <activity
            android:name=".admon.RegistroDeTorre" />
        <activity
            android:name=".admon.RegistroUsuario" />
        <activity
            android:name=".admon.NuevoCondominioActivity" />
        <activity
            android:name=".actividades.SplashScreen"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity
            android:name=".actividades.Preparacion"
            android:label="@string/registro" />
        <activity
            android:name=".actividades.CrearConvocatoria"
            android:label="@string/hacer_encabezado_convocatoria_nueva_convocatoria"
            android:parentActivityName=".actividades.Lobby">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".actividades.Lobby" />
        </activity>
        <activity
            android:name=".actividades.Lobby"
            android:label="@string/hacer_encabezado_convocatoria_nueva_convocatoria"
            android:parentActivityName=".admin.CentralPoint"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".admin.CentralPoint" />
        </activity>
        <activity
            android:name=".admin.formatos.Formatos"
            android:label="@string/title_activity_formatos_admin"
            android:parentActivityName=".admin.formatos.FormatosLobby">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".admin.formatos.FormatosLobby" />
        </activity>
        <activity
            android:name=".admin.CentralPoint"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin.formatos.FormatosLobby"
            android:label="@string/title_activity_formatos_lobby"
            android:parentActivityName=".admin.CentralPoint"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.inspira.condominio.admin.CentralPoint" />
        </activity>
        <activity
            android:name=".actividades.Configuraciones"
            android:label="@string/title_activity_configuraciones"
            android:theme="@style/AppTheme"
            android:parentActivityName=".admin.CentralPoint">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.inspira.condominio.admin.CentralPoint" />
        </activity>
    </application>

</manifest>
